body{
	margin: 80px;
}

p{
	color: white;
}

.margin{
	padding: 10px;
}

#nav-bar li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed left 20px;
	background-color: white;
	color: black;
}

